@import './App.scss';

.about-usSection2 {
  @include trimBorder;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-usSection2Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 890px;
  margin: 0px 0px 50px 0px;
}

.about-usSection2ImageFlex {
  margin: 60px 0px 40px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-usSection2Image {
  width: 400px;
  height: 280px;
  border: solid black 1px;
  object-fit: cover;
}

.about-usSection2TopText {
  width: 100%;
  margin: 25px 0px 25px 0px;
  text-align: center;
  overflow: hidden;
}

.about-usSection2DescFlex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-usSection2Desc {
  width: 42%;
  height: 150px;
  text-align: center;
  overflow: hidden;
}

.about-usSection2ButtonFlex {
  margin: 40px 0px 0px 0px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.about-usSection3 {
  width: 100%;
  background-image: url('../images/CutPizzaBG.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewFlex {
  margin: 80px 0px 70px 0px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.about-usSection4 {
  @include trimBorder;
  height: 400px;
  display: flex;
  justify-content: center;
}

.about-usSection4Img {
  width: 1000px;
}

@media screen and (max-width: $LargeScreen) {
  .reviewFlex {
    margin: 20px 0px 70px 0px;
    width: auto;
    flex-direction: column;
  }

  .about-usSection2Content {
    width: 700px;
  }

  .about-usSection2Image {
    width: 320px;
    height: 210px;
  }

  .about-usSection2Desc {
    height: 180px;
  }
  .about-usSection4Img {
    width: 800px;
  }
}

@media screen and (max-width: $MediumScreen) {
  .about-usSection2ImageFlex {
    flex-direction: column;
    width: 320px;
  }

  .about-usSection2Content {
    width: 320px;
  }

  .about-usSection4 {
    display: none;
  }

  .about-usSection2ButtonFlex {
    width: 320px;
    margin: 15px 0px 0px 0px;
  }

  .about-usSection2DescFlex {
    width: 320px;
    margin: 0px 0px 0px 0px;
    flex-direction: column;
  }

  .about-usSection2Desc {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }

  .reviewFlex {
    width: 320px;
  }
}
