@import './App.scss';

.adminDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminDashboardContainer {
  margin: 120px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminDashboardLabelFlex {
  display: flex;
}

.logoutButton {
  height: 100%;
  margin: 8px 0px 0px 20px;
}

.updateAndDeleteMenuItemsContainer {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.updateMenuItemsContainer {
  margin: 10px 0px 10px 0px;
  width: $MediumScreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.updateSaleImages {
  width: $MediumScreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.updateBlogs {
  width: $MediumScreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createMenuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.createMenuItemInput {
  margin: 8px 0px 8px 0px;
  padding: 5px 0px 5px 20px;
  width: 400px;
  height: 35px;
  background-color: $inputBGColor;
  border: none;
  outline: none;
}

.createMenuItemLabelFlex {
  margin: 8px 0px 8px 5px;
  display: flex;
  place-self: flex-start;
}

.createMenuItemCheckbox {
  margin: 2px 0px 0px 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.createMenuItemFileInput {
  margin: 8px 0px 8px 0px;
  padding: 8px 0px 5px 20px;
  width: 400px;
  height: 35px;
  background-color: $inputBGColor;
  border: none;
  outline: none;
}

.updateMenuItemsTable {
  margin: 34px 0px 0px 0px;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.updateMenuItemFlex {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 10px 0px;
}

.updateMenuItemButton {
  margin: 0px 5px;
}

.createMenuItemTextBox {
  max-width: 570px;
  max-height: 400px;
  min-height: 35px;
  padding: 10px 0px 0px 20px;
}

.adminDashboardSelectorBox {
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: center;
}

.adminDashboardSelectors {
  display: flex;
  justify-content: center;
}

.adminDashboardSelectorItem {
  width: 120px;
  height: 35px;
  background-color: $white;
  border-radius: 6px 6px 0px 0px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.adminDashboardSelectorItemSelected {
  width: 120px;
  height: 35px;
  background-color: $red;
  border-radius: 6px 6px 0px 0px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.adminDashboardSelectorBar {
  width: 100%;
  height: 4px;
  background-color: $red;
}

.updateSaleImageImage {
  max-height: 400px;
  max-width: 220px;
  object-fit: cover;
}

@media screen and (max-width: $MediumScreen) {
  .logoutButton {
    height: 100%;
    margin: 0px 0px 20px 20px;
  }

  .updateMenuItemsContainer {
    width: 320px;
  }
  .updateSaleImages {
    width: 320px;
  }
  .updateBlogs {
    width: 320px;
  }

  .updateAndDeleteMenuItemsContainer {
    flex-direction: column;
    width: 320px;
  }
}
