@import './App.scss';

.reviewComp {
  margin: 20px 0px;
  color: white;
  width: 350px;
}

.reviewCompImg {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  object-fit: cover;
}

.reviewCompText {
  margin: 10px 0px 10px 0px;
  overflow: hidden;
  height: 130px;
}

.reviewCompName {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: $MediumScreen) {
  .reviewComp {
    width: 320px;
  }
}
