@import './App.scss';

.servicesSection2 {
  @include trimBorder;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesSection2Title {
  margin: 40px 0px 0px 0px;
}

.servicesSection2TopDisplay {
  margin: 20px 0px 40px 0px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.servicesSection2BottomDisplay {
  background-color: rgb(220, 248, 240);
  width: 100%;
  display: flex;
  justify-content: center;
}

.servicesSection3 {
  height: 400px;
  background-image: url('../images/PizzaSliced.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicesSection4 {
  @include trimBorder;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesSection4TopDisplay {
  margin: 30px 0px 0px 0px;
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.servicesSection4Bar {
  margin: 50px 0px 15px 0px;
  width: 850px;
  height: 1px;
  background-color: rgba(66, 66, 66, 0.7);
}

.itemDisplayPositioning {
  margin: 0px 5px;
}

@media screen and (max-width: $LargeScreen) {
  .servicesSection2TopDisplay {
    margin: 20px 0px 40px 0px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    place-items: center;
  }

  .servicesSection4Bar {
    width: $MediumScreen;
    margin: 20px 0px 40px 0px;
  }

  .servicesSection4TopDisplay {
    width: $MediumScreen;
  }

  .itemDisplayPositioning {
    margin: 0px 0px;
  }
}

@media screen and (max-width: $MediumScreen) {
  .servicesSection2TopDisplay {
    margin: 20px 0px 40px 0px;
    width: 320px;
    display: flex;
    flex-direction: column;
  }

  .servicesSection3 {
    height: 180px;
    line-height: 55px;
    text-align: center;
  }

  .servicesSection4TopDisplay {
    width: 320px;
    flex-direction: column;
  }
  .servicesSection4Bar {
    width: 320px;
  }
}
